@page "/"
@using ClientMongo.Services
@inject UserGettingClaimsService UserClaimService


<PageTitle>Index</PageTitle>

<h1>Hello, it's a PET projects which includes CRUD functionality with data filtering, and authorization case!</h1>

Welcome, to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
